html
  include includes/head.pug
  body
    div(class='container-fluid')
      include includes/nav.pug
      div(class='row')
        table(class='table table-striped')
          thead
            tr
              th Name
              th Location
              th Date
              th(class='text-right') Action
          tbody
            each booking in bookings
              tr
                td= `${booking.firstName} ${booking.lastName}`
                td= booking.addressHTML()
                td= booking.dateRequested
                td(class='text-right')
                  a(href='/admin/admin-users/edit/'+user._id ) Edit
