include includes/header.pug

div(class='container')
  div(class='row')
    div(class='col-4')
      div(class='card')
        img(class='card-img-top' src='http://via.placeholder.com/200x150' alt='Card image cap')
        div(class='card-body')
          h4(class='card-title') Card title
          p(class='card-text') Some quick example text to build on the card title and make up the bulk of the card's content.
          a(href='#' class='btn btn-primary') Go somewhere
