nav(class='navbar navbar-expand-lg navbar-dark bg-dark' style="margin-bottom:15px;")
  a(class='navbar-brand' href='/admin') Apex S/L [Admin]
  button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span(class='navbar-toggler-icon')

  div(class='collapse navbar-collapse' id='navbarSupportedContent')
    ul(class='navbar-nav mr-auto')
      li(class=`nav-item${activePage && activePage === 'home' ? ' active' : ''}`)
        a(class='nav-link' href='/admin') Home
          span(class='sr-only') (current)
      li(class=`nav-item${activePage && activePage === 'booking' ? ' active' : ''}`)
        a(class='nav-link' href='/admin/booking') Booking
      li(class=`nav-item${activePage && activePage === 'calendar' ? ' active' : ''}`)
        a(class='nav-link disabled' href='/admin/calendar') Calendar
      li(class=`nav-item${activePage && activePage === 'admins' ? ' active' : ''}`)
        a(class='nav-link disabled' href='/admin/admin-users') Admins
        
    a(class='nav-link' target='_blank' href='/') View Site
    
